Lithnet.ResourceManagement.Client/Service References/ResourceManagementService/Microsoft.ResourceManagement.WebServices.WSAddressing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.ResourceManagement.WebServices.WSAddressing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.ResourceManagement.WebServices.WSAddressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Microsoft.ResourceManagement.WebServices.WSResourceManagement" />
  <xs:complexType name="EndpointReferenceType">
    <xs:sequence>
      <xs:element name="addressField" nillable="true" type="tns:AttributedURIType" />
      <xs:element name="metadataField" nillable="true" type="tns:MetadataType" />
      <xs:element name="referencePropertiesField" nillable="true" type="tns:ReferencePropertiesType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndpointReferenceType" nillable="true" type="tns:EndpointReferenceType" />
  <xs:complexType name="AttributedURIType">
    <xs:sequence>
      <xs:element name="valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributedURIType" nillable="true" type="tns:AttributedURIType" />
  <xs:complexType name="MetadataType">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MetadataType" nillable="true" type="tns:MetadataType" />
  <xs:complexType name="ReferencePropertiesType">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.ResourceManagement.WebServices.WSResourceManagement" name="localeReferencePropertyField" nillable="true" type="q1:LocaleReferencePropertyType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.ResourceManagement.WebServices.WSResourceManagement" name="resourceReferencePropertyField" nillable="true" type="q2:ResourceReferencePropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferencePropertiesType" nillable="true" type="tns:ReferencePropertiesType" />
</xs:schema>